body{
    background-image: url('assests/projpic2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.navbar {
   opacity: 0.7; 
   border-bottom: 0px inset grey;
   background-color:black;
 }

  
 .jumbotron{
     margin-top:100px;
     opacity:0.6;
     
 }
 .display-4{
    color: black;
    font-weight: bold;
 }
.lead{
    color: black;
    font-weight: bold;
}
.submit-btn  {
    margin-top:10px;
    opacity:0.7;
    color: black;
    background-color:greenyellow;
    border:none;
    font-weight:bold;
 }
 label{
     color:white;
     font-weight:bold;
     
     font-size:26px;
     
 }
 a{
     font-weight:bold;
     color:grey;
     opacity:1.0;
 }
 .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  .instagram{
    background: #125688;
    color: white;
  }
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  .link-3 {
    transition: 0.4s;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
    
  }
  .link-3:hover {
    background-color: black;
    color: #EEA200;
    padding: 24px 10px;
  }
  .card-footer {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    line-height: 1;
    color: #fff;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 0, 30;
    }
    
    .footerContent {
       justify-content: center;
    }
    
    .footerLink {
       justify-content: space-evenly
    }
    .card-footer a {
       color: #fff;
       text-align: center;
    }
    
    .card-footer a:hover {
       color: #f2d89f;
       text-decoration: underline;
    }
    
    .card-footer p {
    font-size: 14px;
    padding-bottom: 5px;
    }
    .hide{
        display:none;
    }

    .btn {
  margin-top:10px;
  color: black;
  background-color:greenyellow;
  border:none;
  font-weight:bold;
  margin-left: 10px;

}
 
.flight-btn {
  margin-top:10px;
  color: #faf8f8;
  background-color:#370347;
  border:none;
  font-weight:bold;
  margin-left: 65px;
}


.card {
  opacity:0.7;
  margin-top: 10px;
  border: 2px solid #370347;
  padding: 10px 10px; 

}

.card-title {

  color:black;
     font-weight:bold;
     opacity:0.8;
     font-size:22px
}

.card-text {
  color: black;
  font-weight: bold;
}

.modal-content{
  background-color:black;
  opacity: 0.7;
  width:600px;
}

.modal-title {
  font-weight: bold;
  color: #fff;

}
.modal-footer{
  border:none;
}
.modal-header{
  border:none;
}
#srcDes {
  font-weight:bold;
  color:black;
}

#leaveDate {
  font-weight:bold;
  color:black;
}

#returnDate {
  font-weight:bold;
  color:black;
}
.flightResults p{
  color:white;
  font-weight:bold;


}
.flightDiv{
  border:1px solid greenyellow;
  margin-bottom:10px;
  width:350px;
  padding-left: 10px;
  padding-bottom: 10px
}


